@model Tcc_Unasp.Models.Loteamento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Loteamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeLoteamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeLoteamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nProceRegu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nProceRegu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nIncra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nIncra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.StatusImovel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imovel.StatusImovel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblStatus.Tabela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblStatus.Tabela)
        </dd>

    </dl>
</div>
<div class="col-lg-12">
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="m-0 font-weight-bold text-primary">Lista de Clientes</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>N</th>
                            <th>Quadra</th>
                            <th>CPF</th>
                            <th>Endereco</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>RG</th>
                            <th>CPF</th>
                            <th>Endereco</th>
                            <th>Ações</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            @foreach (var Lotes in ViewBag.ListaLotes)
                            {

                                <td>
                                    @Lotes.NLote
                                </td>
                                <td>
                                    @Lotes.Nquadra
                                </td>
                                <td>
                                    @Lotes.Rua
                                </td>
                                <td>
                                    @Lotes.Cliente.NomeCliente
                                </td>
                                <td>

                                    <a class="btn btn-primary" href="@Url.Action("Edit","Lotes", new { id = Lotes.IdLote })"><i class="fas fa-pencil-alt" style="color:white"></i></a> |
                                    <a class="btn btn-warning" href="@Url.Action("Details","Lotes", new { id = Lotes.IdLote})"><i class="fas fa-list-alt" style="color:white"></i></a> |
                                    <a class="btn btn-danger" href="@Url.Action("Delete","Lotes", new { id = Lotes.IdLote })"><i class="fas fa-trash-alt" style="color:white"></i></a>
                                </td>

                            }
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLoteamento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
