@model Tcc_Unasp.Models.Contatos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@*<h2>Create</h2>*@




<div class="col-lg-12">
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="m-0 font-weight-bold text-primary">Criação de Contatos</h4>
        </div>
        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-2">Selecione o Cliente:</label>
                        <div class="col-md-10">
                            @Html.DropDownList("IdCliente", null, htmlAttributes: new { @class = "form-control js-example-basic-multiple form-control" })
                            @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Email:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.emailCliente, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.emailCliente, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Telefone Residencial:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TelResidCliente, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TelResidCliente, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Celular:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CelCliente, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CelCliente, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Facebook:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FacebookCliente, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FacebookCliente, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Instagram:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.InstagramCliente, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InstagramCliente, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Salvar" id="btnCreate" class="btn btn-outline-success" />
                                <a class="btn btn-outline-danger" href="@Url.Action("Index", "Contatos")">Voltar para a lista</a>
                            </div>
                        </div>
                    </div>



                </div>

            }
        </div>
    </div>



