@model Tcc_Unasp.Models.Contatos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div>
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="m-0 font-weight-bold text-primary">Deletar o Clientes</h4>
            </div>
            <div class="card-body">
                <h3>Tem certeza que você quer deletar o Cliente @Html.DisplayFor(model => model.Cliente.NomeCliente)</h3>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h5><strong>Nome: </strong></h5>
                    </li>
                    <li class="list-inline-item">
                        <p class="text-capitalize h5">@Html.DisplayFor(model => model.Cliente.NomeCliente)<p />
                    </li>
                    <li class="list-inline-item">
                        <h5><strong>Nacionalidade:</strong> </h5>
                    </li>
                    <li class="list-inline-item"> <h5>@Html.DisplayFor(model => model.Cliente.NacionalidadeCliente)</h5></li>

                    <li class="list-inline-item">
                        <h5><strong>Estado Civil:</strong> </h5>
                    </li>
                    <li class="list-inline-item"> <h5>@Html.DisplayFor(model => model.Cliente.EstadoCivil)</h5></li>

                    <br />
                    <li class="list-inline-item">
                        <h5><strong>Profissão:</strong> </h5>
                    </li>
                    <li class="list-inline-item"> <h5>@Html.DisplayFor(model => model.Cliente.ProfissaoCliente)</h5></li>
                    <li class="list-inline-item">
                        <h5><strong>RG:</strong> </h5>
                    </li>
                    <li class="list-inline-item"> <h5>@Html.DisplayFor(model => model.Cliente.RGCliente)</h5></li>
                    <li class="list-inline-item">
                        <h5><strong>CPF:</strong> </h5>
                    </li>

                    <li class="list-inline-item"> <h5>@Html.DisplayFor(model => model.Cliente.CPFCliente)</h5></li>
                    <br />
                    <li class="list-inline-item">
                        <h5><strong>Data de Nascimento:</strong> </h5>
                    </li>
                    <li class="list-inline-item"> <h5>@Html.DisplayFor(model => model.Cliente.dataNascimento)</h5></li>
                    <li class="list-inline-item">
                        <h5><strong>Email:</strong> </h5>
                    </li>
                    <li class="list-inline-item"> <h5>@Html.DisplayFor(model => model.emailCliente)</h5></li>
                    <li class="list-inline-item">
                        <h5><strong>Telefone:</strong> </h5>
                    </li>
                    <li class="list-inline-item"> <h5>@Html.DisplayFor(model => model.TelResidCliente)</h5></li>
                    <li class="list-inline-item">
                        <h5><strong>Celular:</strong> </h5>
                    </li>
                    <li class="list-inline-item"> <h5>@Html.DisplayFor(model => model.CelCliente)</h5></li>
                    <li class="list-inline-item">
                        <h5><strong>Data de Nascimento:</strong> </h5>
                    </li>
                    <li class="list-inline-item"> <h5>@Html.DisplayFor(model => model.Cliente.dataNascimento)</h5></li>
                    <li class="list-inline-item">
                        <h5><strong>Data de Nascimento:</strong> </h5>
                    </li>
                    <li class="list-inline-item"> <h5>@Html.DisplayFor(model => model.Cliente.dataNascimento)</h5></li>
                    <li class="list-inline-item">
                        <h5><strong>Data de Nascimento:</strong> </h5>
                    </li>
                    <li class="list-inline-item"> <h5>@Html.DisplayFor(model => model.Cliente.dataNascimento)</h5></li>


                </ul>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Excluir" id="btnCreate" class="btn btn-outline-danger" />
                        <a class="btn btn-outline-danger" href="@Url.Action("Index", "Clientes")">Voltar para a lista</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*<h3>Are you sure you want to delete this?</h3>*@
@*<div>
    <h4>Contatos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emailCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelResidCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelResidCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstagramCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstagramCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.NomeCliente)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>*@
