@model IEnumerable<Tcc_Unasp.Models.Pagamento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nParcela)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Negociacao.Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblStatus.Tabela)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPagamento.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nParcela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Negociacao.Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblStatus.Tabela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPagamento.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPagamento }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPagamento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPagamento })
        </td>
    </tr>
}

</table>
