@model IEnumerable<Tcc_Unasp.Models.ImovelTerceiro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<script>
$(document).ready(function(){
    $('.money2').mask('000.000.000.000.000,00', {reverse: true});
});
</script>
@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div class="col-lg-12">
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="m-0 font-weight-bold text-primary">Lista de Imóveis Terceiros</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tipo de Imóvel</th>
                            <th>Bairro</th>
                            <th>Qte de Dormitórios</th>
                            <th>Valor do Imóvel</th>
                            <th>Proprietário</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tipo de Imóvel</th>
                            <th>Bairro</th>
                            <th>Qte de Dormitórios</th>
                            <th>Valor do Imóvel</th>
                            <th>Proprietário</th>
                            <th>Ações</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoImovelTerceiro.Descricao)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Imovel.tblLogradouros.tblBairros.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Domitotios)
                                </td>
                                <td>
                                    R$ @Html.DisplayFor(modelItem => item.VlrImovel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cliente.NomeCliente)
                                </td>
                                <td>

                                    <a class="btn btn-primary" href="@Url.Action("Edit","ImoveisTerceiros", new { id = item.IdImovelTerceiro })"><i class="fas fa-pencil-alt" style="color:white"></i></a> |
                                    <a class="btn btn-warning" href="@Url.Action("Details","ImoveisTerceiros", new { id = item.IdImovelTerceiro})"><i class="fas fa-list-alt" style="color:white"></i></a> |
                                    <a class="btn btn-danger" href="@Url.Action("Delete","ImoveisTerceiros", new { id = item.IdImovelTerceiro })"><i class="fas fa-trash-alt" style="color:white"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

