@model IEnumerable<Tcc_Unasp.Models.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="col-lg-12">
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="m-0 font-weight-bold text-primary">Lista de Clientes</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>RG</th>
                            <th>CPF</th>
                            <th>Endereco</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>RG</th>
                            <th>CPF</th>
                            <th>Endereco</th>
                            <th>Ações</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeCliente)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.RGCliente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CPFCliente)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.tblLogradouros.LOG_TIPO_LOGRADOURO)
                                    @Html.DisplayFor(modelItem => item.tblLogradouros.DescricaoNaoAbreviada),
                                    @Html.DisplayFor(modelItem => item.nCasa)
                                </td>
                                <td>
                                    
                                    <a class="btn btn-primary" href="@Url.Action("Edit","Clientes", new { id = item.IdCliente })"><i class="fas fa-pencil-alt" style="color:white"></i></a> |
                                    <a class="btn btn-warning" href="@Url.Action("Details","Clientes", new { id = item.IdCliente })"><i class="fas fa-list-alt" style="color:white"></i></a> |
                                    <a class="btn btn-danger" href="@Url.Action("Delete","Clientes", new { id = item.IdCliente })"><i class="fas fa-trash-alt" style="color:white"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

