@model Tcc_Unasp.Models.Usuario
@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <h1>Olá Philippe Mendes</h1>
</div>
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-md font-weight-bold text-primary text-uppercase mb-1">Clientes Cadastrados</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.ClientesCadastrados</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-friends fa-2x text-primary"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-md font-weight-bold text-success text-uppercase mb-1">Imóveis Terceiro Cadastrados</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"> @ViewBag.ImoveisTerceirosCadastrados</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-home fa-2x text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Pending Requests Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-md font-weight-bold text-danger text-uppercase mb-1">Loteamentos Cadastrados</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"> @ViewBag.LoteamentosCadastrados</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-th fa-2x text-danger"></i>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-md font-weight-bold text-primary text-uppercase mb-1">Atendimentos</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.AtendimentosCadastrados</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-id-card-alt fa-2x text-primary"></i>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-md font-weight-bold text-success text-uppercase mb-1">Reuniões</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"> @ViewBag.ReuioesCadastrados</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-success"></i>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Pending Requests Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-md font-weight-bold text-danger text-uppercase mb-1">Negociações</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"> @ViewBag.NegociacoesCadastrados</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-handshake fa-2x text-danger"></i>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    @*<div class="col-lg-12">
            <div class="container-fluid">
                <div class="row">
                    <img src="~/Content/vendor/simple-line-icons/fonts/undraw_buy_house_560d.svg" class="col-6" />
                    <img src="~/Content/vendor/simple-line-icons/fonts/undraw_houses3_xwf7.svg" class="col-5" />
                </div>
            </div>


        </div>*@


